* {
  padding: 0;
  margin: 0;
}
header {
  margin: 15px 15px;
}
.sprite a{
  width: 30px;
  height: 30px;
  background-image: url("https://ssl.gstatic.com/gb/images/i2_2ec824b0.png");
  background-size: 528px 68px;
  background-position: -132px -38px;
  content: " ";
  opacity: 0.55;
}
.sprite a:hover {
  opacity: 1;
}

a {
  display: inline-block;
  color: black;
  text-decoration: none;
  line-height: 30px;;
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #000;
  margin-right: 15px;
}
header a {
  float: right;
}

.entry {
  font-weight: bold;
  background-color: #4683ea;
  color: white;
  padding: 0 12px;
  border: 1px solid #4285f4;
  border-radius: 2px;
  cursor: default;
}
.entry:hover {
  background-color: blue;
  box-shadow: 1px 1px rgba(0,0,0,0.15);
}

a:hover:not(.entry) {
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 0%;
  height: 40px;
  width: 100%;
  box-sizing: content-box;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
}

footer div {
  background-color: #f2f2f2;
}

footer a {
  color: #667;
  padding-left: 15px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

article {
  box-sizing: border-box;
  /*border: 1px solid black;*/
  clear: both;
}
article > img {
  display: block;
  margin: 0 auto;
  padding-top: 10%;
  height: 92px;
  width: 272px;
}

input[type=text] {
  display: block;
  width: 590px;
  height: 44px;
  clear: both;
  line-height: 34px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  box-shadow: 0 1px 5px grey;
  padding-right: 50px;
  box-sizing: border-box;
  }

form div {
  width: 590px;
  height: 44px;
  margin: 0 auto;
  position: relative;
}
form div:hover {
  box-shadow: 2px 2px 5px grey, -2px 2px 5px grey;
}

form img {
  position: absolute;
  left: 560px;
  top: 15px;
  opacity: 0.7;
}

form img:hover {
  opacity: 1;
}

button {
  height: 36px;
  color: #757575;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 30px 5px;
  padding: 0 16px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 2px;
}

button:hover {
  border: 1px solid grey;
  color: black;
  box-shadow: 1px 1px 5px #f2f2f2, -1px -1px 5px #f2f2f2;
}

p {
  text-align: center;
}

article a {
  color: blue;
  font-family: arial,sans-serif;
  font-size: small;
  line-height: 28px;
}

.tooltiptext {
  display: inline-block;
  position: absolute;
  left: 83%;
  width: 130px;
  height: 15px;
  padding: 8px 8px;
  font-family: arial,sans-serif;
  color: white;
  font-weight: bold;
  font-size: 12px;
  background-color: rgba(0,0,0,0.8);
  border:1px solid white;
  box-shadow:1px 1px 2px gray, -1px -1px 2px gray;
  visibility: hidden;
}

.tooltiptext::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0,0,0,0.8) transparent;
}  

.tooltip:hover ~ .tooltiptext {
  visibility: visible;
}